@import '~bootstrap/scss/bootstrap.scss';
$red: #FF3333;
body {
  font-family: sans-serif;
}

.search-form {
  margin: 20px;
}

.searchForm-panel {
  background-color: #EEEEEE;
  margin-top: 20px;
  padding: 10px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.title-s {
  text-align: center;
  padding: 10px;
}

.btn-wrapper {
  text-align: center;
}


.item-box {
  width: 320px;
  margin: 15px;
  float: left;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  .image {
    width: 320px;
    height: 320px;
    display: table;
    border: 1px solid #ddd;
    background: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    .img-wrap {
      width: 320px;
      height: 320px;
      padding: 10px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }
}
